<div class="card-container">
  <p class="card-title">{{dataUser.name}}</p>
  <p>Salário: <span>{{dataUser.salary}}</span></p>
  <p>Empresa: <span>{{dataUser.companyValuation}}</span></p>
  
  <div class="card-actions" [ngClass]="{'user-selected' : userSelected === true}">
    <button *ngIf="userSelected === false" class="btn-icon add" (click)="saveSelectedClient(dataUser)"><i class="bi bi-plus"></i></button>
    <button *ngIf="userSelected === false" class="btn-icon edit"><i class="bi bi-pencil" (click)="editClient(dataUser)"></i></button>
    <button class="btn-icon delete"><i [class]="userSelected === false ? 'bi bi-trash' : 'bi bi-dash'" (click)="deleteOrRemove(dataUser)"></i></button>
  </div>
</div>