.text-bold {
  font-weight: 700;
  font-size: 16px;
}


.dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

.deleted-button {
  background-color: rgba(236, 103, 36, 1);
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.deleted-button:hover {
  background-color: rgb(202, 75, 11);
}

