<div class="customers-container">
  <div class="header-container">
    <span class="head-title">
      <span class="font-bold">{{ totalPages }}</span> Clientes encontrados:
    </span>

    <div class="dropdown-container">
      <span class="head-title">Clientes por página</span>
      <p-dropdown
        [options]="rowsPerPageList"
        [(ngModel)]="rowsPerPage"
        (onChange)="onRowsPerPageChange($event)"
        optionLabel="value"
        placeholder="Itens"
        class="dropdown"
      ></p-dropdown>
    </div>
  </div>

  <div *ngIf="isLoading" class="loading-overlay">
    <div class="loading-spinner">
      <p-progressSpinner></p-progressSpinner>
      <p>Carregando clientes...</p>
    </div>
  </div>

  <div *ngIf="!isLoading" class="card-container">
    <div *ngFor="let client of clients" class="card-item">
      <app-card-client
        [userSelected]="false"
        [dataUser]="client"
      ></app-card-client>
    </div>
  </div>

  <p-paginator
    *ngIf="totalPages >= 1"
    [rows]="rows"
    [totalRecords]="totalPages"
    (onPageChange)="paginate($event)"
  ></p-paginator>

  <button (click)="createClient()">Criar cliente</button>
</div>
