<h1 mat-dialog-title class="title-modal">Editar Cliente:</h1>
<div mat-dialog-content>
  <form class="client-form">
    <p-floatlabel variant="on">
      <input pInputText id="name" [(ngModel)]="client.name" name="name" required autocomplete="off" class="custom-width" />
      <label for="name">Nome</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
      <input pInputText id="salary" [(ngModel)]="client.salary" name="salary" required autocomplete="off" class="custom-width" />
      <label for="salary">Salário</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
      <input pInputText id="companyValuation" [(ngModel)]="client.companyValuation" name="companyValuation" required autocomplete="off" class="custom-width" />
      <label for="companyValuation">Valor da Empresa</label>
    </p-floatlabel>
  </form>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onUpdate()" class="update-button">Editar Cliente</button>
</div>
